<!DOCTYPE html>
<html lang="en">

<head>
  <title>View Account</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
</head>

<body>

  <style>
    .jumbotron {
      background-color: #f4511e;
      /* Orange */
      color: #ffffff;
      text-align: center;
    }

    .item span {
      font-style: normal;
    }

    .navbar {
      margin-bottom: 0;
      background-color: #f4511e;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
    }

    .navbar li a,
    .navbar .navbar-brand {
      color: #fff !important;
    }

    .navbar-nav li a:hover,
    .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
    }

    .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
    }

    body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
    }

    .jumbotron {
      font-family: Montserrat, sans-serif;
    }

    .navbar {
      font-family: Montserrat, sans-serif;
    }

    footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;
    }
  </style>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Bookstore Website</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          {% if session.log %}
          <li><a href="/logout">LOG OUT</a></li>
          <li><a href="/user">VIEW ACCOUNT</a></li>
          <li><a href="/cart">VIEW CART</a></li>
          {% else  %}
          <li><a href="/login">LOGIN/REGISTER</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron">
    <h1>YOUR ACCOUNT</h1>
    <p>Welcome Back!</p>
  </div>

  {%include "includes/message.html"%}

  <div class="container-fluid bg-grey">
    <div class="row">
      <div class="col-sm-5">
        <h2 class="text-center">Edit Profile</h2>
        <p><br /></p>
        {% for item in data %}
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <input type="text" name="fname" value="{{item[1]}}" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit">Change First Name</button>
            </div>
          </form>
        </p>
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <input type="text" name="lname" value="{{item[2]}}" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit">Change Last Name</button>
            </div>
          </form>
        </p>
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <label>{{item[3]}}</label>
            </div>
          </form>
        </p>
        <p>
          <form class="form-inline" action="/change_password" method="post" .>
            <div class="col-sm-10">
              <!-- <input type="password" name="password" value="{{item[4]}}" /> -->
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit">Change Password</button>
            </div>
          </form>
        </p>
        {% if stuffExists %}
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <input type="text" name="address" value="{{item[11]}}" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit">Change Address</button>
            </div>
          </form>
        </p>
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <input type="text" name="name_on_card" value="{{item[12]}}" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit"> Change Name on Card</button>
            </div>
          </form>
        </p>
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <input type="text" name="cardType" value="{{item[9]}}" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit">Change Card Type</button>
            </div>
          </form>
        </p>
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <input type="text" name="ccnum" value="*******{{item[15]}}" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit">Change Number</button>
            </div>
          </form>
        </p>
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <input type="text" name="ccv" value="{{item[13]}}" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit">Change CCV</button>
            </div>
          </form>
        </p>
        <p>
          <form class="form-inline" action="" method="post" .>
            <div class="col-sm-10">
              <input type="text" name="expdate" value="{{item[10]}}" />
            </div>
            <div class="col-sm-2">
              <button class="btn btn-default pull-right" type="submit">Change Expiration Date</button>
            </div>
          </form>
        </p>
        {% else  %}
       
        <form class="form-inline" action="/user" method="POST">
          <div class="input-group">
            <input type="text" name="name_on_card" class="form-control" size="50" placeholder="Enter the Name on Card">
            <input type="text" name="ccnum" class="form-control" size="50" placeholder="Enter Your Credit Card Number"
              pattern="[0-9]{13,19}">
            <input type="text" name="expdate" class="form-control" size="50"
              placeholder="Enter the Expiration Date(Format: MM/YYYY)" pattern="(0[1-9]|1[0-2])\/[0-9]{4}">
            <input type="text" name="ccv" class="form-control" size="50" placeholder="Enter the Security Code"
              pattern="[0-9]{3}">
            <input type="text" name="cardType" class="form-control" size="50" placeholder="Enter the Type of Card">
            <input type="text" name="address" class="form-control" size="50" placeholder="Enter the Billing Address">
          </div>
          <div class="input-group-btn">
            <button type="submit" class="btn btn-danger">Change Payment Information</button>
          </div>
        </form>
        {% endif %}

        {% endfor %}


      </div>
      <div class="col-sm-7">
        <h2 class="text-center">Your Shopping History</h2>
        <p><br /></p>
        <p class="text-center"><a href="https://google.com">View Order History</a></p>
        <p class="text-center"><a href="https://google.com">Make A Return</a></p>
        <p class="text-center"><a href="https://google.com">Reorder a Previous Purchase</a></p>
      </div>
    </div>
  </div>

  <p><br /></p>

  <footer class="container-fluid text-center">
    <p><br /></p>
    <a href="#myPage" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>Bootstrap Theme Modified From: <a href="https://www.w3schools.com" title="Visit w3schools">www.w3schools.com</a>
    </p>
  </footer>

</body>

</html>